.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    margin: 8px 0;
}
.btn__s{
    background-color: var(--sky--blue);
    width:80px;
    height:40px;
    border-radius: 20px;
    border: none;
    color:var(--off--white);
    cursor: pointer;
    font-weight: bold;
}

.btn__s__sp{
    width:80px;
    height:40px;
    color: transparent;
    background-color: transparent;
    border: transparent;
}

.btn__s:hover,
.btn__s:active{
    background-color: var(--accent--orange);
}
.btn__s:disabled{
    background-color: rgba(90,169,230,0.5);
    color:rgba(0,0,0,0.1)
}

.btn__s:disabled:hover{
    background-color: rgba(90,169,230,0.5);
}


.btn__l{
    background-color: var(--sky--blue);
    width:300px;
    height:45px;
    border-radius: 20px;
    border: none;
    color:var(--off--white);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.75rem ;
}

.btn__l:hover,
.btn__l:active{
    background-color: var(--accent--orange);
}