.main {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
    margin-bottom: 3rem;
}

.results_box {
    padding-top: 3rem;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    max-width: 16rem;
}

.title_box {
    font-family: 'Righteous';
    text-align: center;
    flex-direction: column;
    align-content: center;
}

.question_box {
    padding: 1rem;
    border-radius: 15px;
    color: var(--off--white);
    background-color: var(--sky--blue);
}

.title {
    color: var(--frog--green);
    line-height: 155%;
    padding-bottom: 2rem;
}

.star_box {
    margin: 0;
    text-align: center;
}

.stars{
    animation: grow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.333);
    }
    100% {
        transform: scale(1);
    }
}
.desc {
    padding-top: 1rem;
    line-height: 150%;
}