.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-color: var(--color--lightgreen);
    background-image: url(../public/learning/background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  bottom: 13%;
}