.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 560px;
}
.text{
    font-family: var(--font-mono);
    text-align: center;
    position: fixed;
    bottom: 605px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 180%;
}