
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    position: fixed;
    right: 3.6vh;
    top: 11%;
    background-color: var(--color--blue);
    padding: 4px 8px;
    border-radius: 10px;
    color: var(--off--white)
;}


