
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    position: fixed;
    right: 3.6vh;
    top: 11%;
    background-color: var(--color--blue);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8.5px;
    padding-left: 10px;
    border-radius: 10px;
    color: var(--off--white);
    font-size: 11pt;
}
.arrow{
    padding-top: 0.45vh;
}


