.container{
    background-color: var(--color--white-back);
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: fixed;
    bottom : 0;
}
.icon_list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    font-family: var(--font-mono);
    color: var(--color--olive);
}

.icon_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.learn, 
.tutorial{
    margin-bottom: 3px;
}