.main {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
    margin-bottom: 3rem;
}

.results_box {
    padding-top: 3rem;
    gap: 14rem;
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    position: relative;
    margin-bottom: 10rem;
}

.title_box {
    font-family: 'Righteous';
    text-align: center;
    flex-direction: column;
    align-content: center;
}

.question_box {
    padding: 1rem;
    border-radius: 15px;
    color: var(--off--white);
    background-color: var(--sky--blue);
    z-index: 1;
}

.desc {
    padding-top: 1rem;
    line-height: 150%;
}

.title {
    color: var(--frog--green);
    line-height: 155%;
    padding-bottom: 2rem;
}

.star_box {
    margin: 0;
    text-align: center;
}

.stars{
    animation: grow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.333);
    }
    100% {
        transform: scale(1);
    }
}

.animation_container {
    width: 300px;
    height: 600px;
    left: 1.5em;
    top: -1em;
    image-rendering: crisp-edges;
    position: absolute;
    scale: 1.6;
    transform: scaleX(-1);
}

.animation_container2 {
    image-rendering: crisp-edges;
    scale: 1.3;
    top: 40em;
    position: absolute;   
}

.animation_container3 {
    image-rendering: crisp-edges;
    scale: 1.6;
    top: 87em;
    right: 2rem;
    position: absolute;   
}