.main {

    padding-top: 4rem;

    margin-bottom: 1rem;
}

.results_box {
    margin-top: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}

.title_box {
    font-family: 'Righteous';
    text-align: center;
    flex-direction: column;
    align-content: center;
    z-index: 5;
}

.question_box {
    padding: 1rem;
    border-radius: 15px;
    color: var(--off--white);
    background-color: var(--sky--blue);
    z-index: 1;
}
.box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.desc {
    padding-top: 1rem;
    line-height: 150%;
}

.title {
    color: var(--frog--green);
    font-size: 1.75rem;
}
.title_box p {
    font-size:1.125rem;
    font-weight: bold;
}
.title_box{
    margin-bottom: 1.5rem;
}
.star_box {
    margin: 0;
    text-align: center;
}

.stars{
    animation: grow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.greenie_robotor {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color--white);
    font-weight: bold;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.333);
    }
    100% {
        transform: scale(1);
    }
}



.animation_container{
    width: 150px;
    height: auto;
}
.animation p{
    font-size: 1.125rem;
    text-align: center;
    color: var(--frog--green);
    padding-bottom: 1rem;
}
.animation{
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn {
    width: 150px;
    height: 40px;
    color: var(--color--white);
    background-color: var(--color--orange);
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}