.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color--lightgreen);
    background-image: url(../public/learning/Background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.mascot_style{
    position: fixed;
    bottom: 20%;
}

.button{
    position: fixed;
    bottom: 12%;
    margin-left: 250px;
    padding: 15px 30px;
    color: var(--color--white);
    background-color: var(--color--blue);
    border: none;
    border-radius: 20px;
}