.main {
  background-color: #B5D8F4;
  min-height: 100vh;
  background-color: var(--color--lightgreen);
  background-image: url(../public/quiz-background-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.main_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
}

.main h1{
    margin-bottom: 0px;
    position: absolute;
    top: 11%;
    z-index: 2;
}
.character_container{
    display: flex;
    flex-direction: column;
    width: 325px;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.749);
    padding: 0.8rem;
    border-radius: 30px;
    margin-top: 4vh;
}
.row{
    display: flex;
    align-items: center;
    gap: 30px;
}
.text h4{
    margin-bottom: 10px;
}
.topBar{
    z-index: 3;
}
.cloud{
    position: absolute;
    top: 5%;
    z-index: 0;
    opacity: 60%;
    left: -100px; 
    animation: moveCloud 8s linear infinite; 
}
@keyframes moveCloud {
  0% {
    transform: translateX(-100px); 
  }
  100% {
    transform: translateX(200px); 
  }
}

.team_image:hover {
    animation: rotation 0.5s ease-in-out 2;
  }
  
@keyframes rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
  }

  .back__btn button{
    border: none;
    background-color: var(--color--blue);
    padding: 5px 10px;
    position: relative;
    left: 3.4vh;
    top: 9vh;
    border-radius: 10px;
    color: var(--off--white);
    height: 1.5rem;
    width: 5rem;
    cursor: pointer;
}