@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sofia+Sans:wght@400;500;700&display=swap');

:root {
  background-color: var(--primary--green);
  font-family: 'Righteous', cursive;
  font-family: 'Sofia Sans', sans-serif;
 --primary--green:#ABCD9C;
 --frog--green:#7FA346;
 --accent--orange:#F7934C;
 --sky--blue:#5AA9E6;
 --dark--olive:#343633;
 --off--white:#FAF9F6;
 --off-white-60:rgba(250,249,246,0.6)

}
html,body{
  margin: 0;
}
