.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-image: url("../public/learning/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  .container{
    display: flex;
    flex-direction: column;
    top: 10vh;
    gap: 30px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
}
 
.button{
  padding: 15px 30px;
  color: var(--color--white);
  background-color: var(--color--blue);
  border: none;
  border-radius: 20px;
}
.buttonContainer{
  display: flex;
  gap: 125px;
}

.cloud{
  z-index: 0;
  left: -100px; 
  animation: moveCloud 8s linear infinite; 
}
@keyframes moveCloud {
0% {
  transform: translateX(-100px); 
}
100% {
  transform: translateX(200px); 
}
}
