.main {
  min-height: 100vh;
  background-color: var(--color--lightgreen);
  background-image: url(../public/learning/background3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.mascot_style {
  position: fixed;
  bottom: 20%;
  margin-left: 20px;
  animation: upAndDown 1.2s ease-in-out infinite;
}

@keyframes upAndDown {
  0% {
    bottom: 33vh;
  }

  50% {
    bottom: 32vh;
  }

  100% {
    bottom: 33vh;
  }
}

.maincontents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  bottom: 13%;
}