.main{
    background-image: url("../public/quiz-background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    padding-bottom: 5rem;
    min-height: 100vh;
}
.main h2{
    margin: 16px;
}

.btn__l{
    background-color: var(--sky--blue);
    width:300px;
    height:45px;
    border-radius: 20px;
    border: none;
    color:var(--off--white);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.75rem ;
}

.btn__l:hover,
.btn__l:active{
    background-color: var(--accent--orange);
}