.main{
    background-color: #B5D8F4;
    min-height: 100vh;
    background-color: var(--color--lightgreen);
    background-image: url(../public/quiz-background-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.reward__grid{
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 50% 30% 20%;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}
.main__container{
    padding-top: 4.5rem;
}
.shop__star{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: -15rem;
}
.shop__score{
    height: 1.5rem;
    width: 5rem;
    border-radius: 20px;
    background-color: var(--off-white-60);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
}
.shop__img{
    margin-left: -1rem;
}

.reward__topcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.75rem;
    margin: 2rem;
}
.animation__bg{
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgba(250,249,246,0.9);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    z-index: 99;
}
.animation__container{
    height: 300px;
   
}
.animation__desc{
    width: 240px;
}
.animation__desc p{
    text-align: center;
    font-size: 1.0625rem;
    color: var(--color--orange);
}

.animation__btn button{
    width: 240px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: var(--color--blue);
    font-size: 1.375rem;
    color: var(--off--white);
    font-weight: bold;
    cursor: pointer;
}
.animation__btn button:hover,
.animation__btn button:active{
    background-color: var(--color--orange);
}
.animation__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}
.animation__desc__sp{
    width: 250px;
    padding-bottom: 1rem;
}
.animation__desc__sp p{
    text-align: center;
    font-size: 1.0625rem;
    color: var(--frog--green);
}
.reward__topItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.reward__btn button{
    background-color: var(--color--blue);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    color: var(--off--white);
    cursor: pointer;
}
.reward__imgbg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 210px;
    border-radius: 20px;
    background-color: rgba(250, 249, 246, 0.5);
}

.reward__btn__sp button{
    background-color: var(--color--orange);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    color: var(--off--white);
    cursor: pointer;
}

.reward__botContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.reward__botItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
.reward__botbg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    background-color: rgba(250, 249, 246, 0.5);
}

.reward__botItem button{
    background-color:rgb(137 163 74 / 50%);
    border: none;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    color: var(--off--white);
}

.reward__botlock{
    position: fixed;
    width: inherit;
    height: inherit;
    border-radius: 20px;
    background-color: rgba(250, 249, 246, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.reward__botlock:hover img,
.reward__toplock:hover img{
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, -2px); }
    80% { transform: translate(2px, 2px); }
    100% { transform: translate(0, 0); }
  }

  .reward__toplock{
    position: fixed;
    width: inherit;
    height: inherit;
    border-radius: 20px;
    background-color: rgba(250, 249, 246, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
}
.reward__toplock img{
    margin: 16px;
}