.main{
    background-image: url("../public/tutorial-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mascot{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link{
    position: absolute;
    top: 4vh;
    right: 24px;
    cursor: pointer;
}
.link p{
    padding: 0;
    margin: 0;
    color: var(--sky--blue);
    text-decoration: underline;
}
.link a:hover,
.link a:active{
    color:var(--accent--orange)
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 27.5% 47.5% 15%;

}